on:
  push:
    tags:
      - '[0-9]*-mvel3-*' # Matches tags like 3.25.5-mvel3-1

name: Create Release from tag push

permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "${{ github.ref_name }}" \
            --title "Release ${{ github.ref_name }}" \
            --draft \
            --generate-notes
